<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dwProScoreboardWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <dwProScoreboardWPF.Properties.Settings>
            <setting name="gameTicks" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="gameBreakTicks" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="raceTo" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="blueName" serializeAs="String">
                <value>HOME</value>
            </setting>
            <setting name="redName" serializeAs="String">
                <value>AWAY</value>
            </setting>
            <setting name="refTicks" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="API_URI" serializeAs="String">
                <value>http://localhost/api/scoreboard/</value>
            </setting>
            <setting name="pointBreakTicks" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value>UNKNOWN</value>
            </setting>
        </dwProScoreboardWPF.Properties.Settings>
    </userSettings>
</configuration>